

  <article class="row">
    <div class="col-sm-3">
        <a href="#families/{{family.familyId}}">
          <p class="text-left text-blue">{{family.name}}</p>
        </a>
    </div>
    <div class="col-sm-9">
      <p class="text-left">{{family.code}}</p>
    </div>
  </article>
