

  <article class="row">
    <div class="col-sm-3">
        <a href="#families/{{family.familyId}}">
          <div class="text-left text-blue">{{family.name}}</div>
        </a>
    </div>
    <div class="col-sm-8">
      <p class="card-text">{{family.code}}</p>
    </div>
  </article>
