<div class="row">
  <div class="col-md-12">
    <div class="list-common-content">
      <div id="top" class="search-container">
        <div class="row">
          <div class="col-md-3">
            <input name="data[search]" class="form-control search" id="search" type="text" placeholder="{{$t 'user.search.title'}}">
          </div>
          <div class="col-md-9">
            <span class="view-items-left-content" style="display:none">
            </span>
            <span class="view-items-right-content" style="display:none">
            </span>
            <a id="add-new" class="floating-user floating-buttom" href="#management/users/new" style="display: none">
-            </a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2">
          <div class="col-xs-2"></div>
          <div class="col-xs-10">
            <h6 class="card-text-sub-title text-blue">{{$t 'user.card.name'}}</h6>
          </div>
        </div>
        <div class="col-sm-2">
          <h6 class="card-text-sub-title text-blue">{{$t 'user.card.email'}}</h6>
        </div>
        <div class="col-sm-2">
          <h6 class="card-text-sub-title text-blue">{{$t 'user.card.organization'}}</h6>
        </div>
        <div class="col-sm-3">
          <h6 class="card-text-sub-title text-blue">{{$t 'user.card.role'}}</h6>
        </div>
      </div>
      <div id="user-list" class="has-spinner">
      </div>
    </div>
  </div>
</div>
