<div class="row">
  <div class="col-md-10 col-md-offset-1">

    <div id="select-language-header">
      <h3 class="text-gray">{{$t 'termcondpol.select-display-language'}}</h3>
    </div>
    <div id="select-language" class="panel-group">
    </div>

  </div>
</div>
